[package]
name = "micromegas-tracing"
description = "instrumentation module, part of micromegas"
keywords.workspace = true
version.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
micromegas-transit.workspace = true
micromegas-tracing-proc-macros = { path = "./proc-macros", version = "^0.21" }

anyhow.workspace = true
chrono.workspace = true
internment.workspace = true
lazy_static.workspace = true
memoffset.workspace = true
pin-project.workspace = true
raw-cpuid.workspace = true
serde.workspace = true
thiserror.workspace = true
thread-id.workspace = true
uuid.workspace = true
whoami.workspace = true

# Optional dependencies for runtime integration
tokio = { workspace = true, optional = true }

[target.'cfg(windows)'.dependencies]
winapi.workspace = true

[dev-dependencies]
# to tests interop
log.workspace = true
# for async and concurrent testing
tokio = { workspace = true, features = ["time"] }
futures = "0.3"
serial_test = "3.2"

[features]
default = ["tokio"]
tokio = ["dep:tokio"]

[[bench]]
name = "with_no_dispatch"
harness = false

[[bench]]
name = "with_dispatch"
harness = false
