[package]
name = "micromegas-telemetry-sink"
description = "module for the publication of telemetry, part of micromegas"
keywords.workspace = true
version.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
micromegas-telemetry.workspace = true
micromegas-tracing.workspace = true
micromegas-transit.workspace = true

anyhow.workspace = true
async-trait.workspace = true
bytes.workspace = true
chrono.workspace = true
colored.workspace = true
ctrlc.workspace = true
lazy_static.workspace = true
log.workspace = true
reqwest.workspace = true
serde.workspace = true
sysinfo.workspace = true
tokio-retry2.workspace = true
tokio.workspace = true
tracing-core.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
uuid.workspace = true

