name: Publish Docs

on:
  push:
    branches:
      - '**'

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable

    - name: Build Rust documentation
      run: cargo doc -p micromegas --no-deps
      working-directory: rust/
      env:
        RUSTDOCFLAGS: --html-in-header ../.github/doc-header.html

    - name: Prepare staging directory
      run: |
        mkdir -p public_docs/rust
        cp -r rust/target/doc/micromegas/* public_docs/rust/
        cp -r doc public_docs/

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public_docs
        publish_branch: gh-pages
        force_orphan: true